* {
  box-sizing: border-box;
}

html {}

body {
  margin: 0;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .5em;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0 0 1em;
}

a {
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold
}

.dark {
  background-color: #191818c7;
}

.red-color {
  color: red
}

.watchers-app-main-container {
  position: relative;
  text-align: center;
  background-color: #f1caab;
  width: 80vw;
  margin: auto;
  padding: 3em;
  margin-block-start: 2em;
}

.watchers-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-auto-flow: dense;
  gap: 6em;
  top: 5px;
  margin-block-start: 1em;
}

.count-down {
  text-align: center;
  font-size: 4em;
  margin-block-start: 0.5em;
}

.watcher-card {
  display: grid;
  background-color: aliceblue;
  width: 15em;
  justify-content: center;
}

.watcher-card img {
  width: 13em;
}

.watchers-modal {
  position: fixed;
  background-color: #c74141;
  max-width: 31em;
  min-width: 19em;
  top: 8em;
  right: 8em;
  min-height: 13em;
  display: grid;
}

.watchers-modal li {
  text-align: left;
}

.mouse-monitor-app {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #00000082;
}

footer {
  border-top: 1px solid black;
}